/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */
.sign {
  border: 1px solid #888;
  margin: 10px auto 0 auto;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
}
.sign .sign-top {
  background-color: #333;
  letter-spacing: 1px;
  color: white;
}
.sign .sign-bottom {
  font-size: 13px;
}
.sign h1,
.sign h2,
.sign h3,
.sign h4,
.sign h5,
.sign h6 {
  margin: 0;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
a {
  background: transparent;
  text-decoration: none;
  color: steelBlue;
}
a:active,
a:hover {
  color: brown;
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
body {
  margin: 0 0;
  width: 100%;
  font-family: Georgia, Garamond, serif;
  font-size: 14px;
  font-weight: normal;
  color: #333;
}
text {
  fill: #333;
}
p {
  line-height: 1.3em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
}
svg {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
}
.full-width {
  width: 100%;
}
.container {
  max-width: 780px;
  min-width: 600px;
  margin: 0 auto;
  padding: 0 1em;
}
.full-width {
  margin-bottom: 5em;
}
.blue {
  fill: #2f5da6;
  stroke: #2f5da6;
  background-color: #2f5da6 !important;
}
.red {
  fill: #e12d27;
  stroke: #e12d27;
  background-color: #e12d27 !important;
}
.orange {
  fill: #e87200;
  stroke: #e87200;
  background-color: #e87200 !important;
}
path.blue {
  stroke: #2f5da6;
  fill: none;
}
path.red {
  stroke: #e12d27;
  fill: none;
}
path.orange {
  stroke: #e87200;
  fill: none;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
.text-center {
  text-align: center;
}
.ios .hide-on-ios {
  display: none;
}
.placeholder rect {
  fill: none;
  stroke: black;
}
.placeholder line {
  stroke: black;
}
/* D3-tip styles */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  font-family: Arial, sans-serif;
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  font-size: 10px;
  text-align: left;
  z-index: 99;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  font-size: 15px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}
/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -6px 0 0 0;
  top: 50%;
  left: -12px;
}
/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}
/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
.table {
  font-family: Helvetica, Arial, sans-serif;
  border-spacing: 0px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
}
.table thead th {
  font-weight: normal;
}
.table th,
.table td {
  padding: 0 5px;
}
.table .total {
  border-top: 1px solid black;
}
.table .total td,
.table .total th {
  border-top: 1px solid black;
}
.table-inset {
  float: right;
  margin: 0 auto;
  padding: 0 0 1em 0;
  clear: both;
  width: 50%;
}
.table-caption {
  margin: 0.5em 0;
  font-size: 0.8em;
  text-align: center;
}
@media (max-width: 859px) {
  .table-inset {
    float: none;
    clear: none;
  }
}
.header {
  text-align: center;
}
.header .container {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header .caption {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 15px;
}
.header .caption p {
  margin: 5px 0;
}
.header .graphic {
  position: absolute;
  top: 0;
  left: 50%;
}
.header .graphic .connect {
  stroke-width: 0.5;
  stroke: black;
}
.header .graphic circle.station.middle {
  fill: gray;
  opacity: 0.3;
}
.header .graphic circle.station.end {
  opacity: 1;
}
@media (max-width: 630px) {
  .header .sign h1 {
    font-size: 24px;
  }
  .header .sign h2 {
    font-size: 18px;
  }
}
@media (max-width: 530px) {
  .header .sign h1 {
    font-size: 20px;
  }
  .header .sign h2 {
    font-size: 14px;
  }
}
.fixed-left {
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  width: auto;
  vertical-align: top;
  text-align: center;
}
.fixed-left .side-map,
.fixed-left svg {
  margin: 0 auto;
}
.fixed-left p {
  text-align: left;
  font-size: 12px;
}
.datagrid {
  width: 75%;
  padding-left: 25%;
}
@media (max-width: 859px) {
  .fixed-left {
    display: none;
  }
  .marey {
    width: 100%;
    padding-left: 0;
  }
}
.ios .fixed-left {
  display: none;
}
.ios .marey {
  width: 100%;
  margin-left: 0;
}
.fixed-left .connect {
  stroke-width: 0.5;
  stroke: black;
}
.fixed-left circle.station.middle {
  fill: gray;
  opacity: 0.3;
}
.fixed-left circle.station.end {
  opacity: 0.8;
}
.marey {
  /* Make ends of line bolder */
}
.marey .bar {
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
  font-weight: bold;
}
.marey .station-label {
  opacity: 0.7;
  font-size: 10px;
}
.marey text.station-label.active {
  opacity: 1;
}
.marey line.station {
  stroke-width: 1px;
  stroke: black;
  stroke-opacity: 0.1;
  shape-rendering: crispEdges;
}
.marey .mareystop {
  shape-rendering: crispEdges;
}
.marey line.station.place-asmnl-red,
.marey line.station.place-brntn-red,
.marey line.station.place-wondl-blue,
.marey line.station.place-bomnl-blue,
.marey line.station.place-forhl-orange,
.marey line.station.place-ogmnl-orange {
  stroke-width: 1px;
  stroke: black;
  stroke-opacity: 0.35;
}
.marey .text-background {
  fill: white;
  fill-opacity: 0.7;
}
.marey path.hover,
.marey path.active {
  stroke-width: 2px;
}
.marey .annotation {
  font-family: Georgia, Garamond, serif;
  font-size: 14px;
  font-size: 12px;
}
.marey .annotation-connection {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}
.marey-container.loading .fixed-left {
  display: none;
}
circle.hoverable {
  stroke-opacity: 0;
}
circle.hover {
  stroke-width: 25px;
  stroke-opacity: 0.5;
}
.highlight-active circle {
  stroke-opacity: 0;
}
.highlight-active circle.active {
  stroke-width: 25px;
  stroke-opacity: 0.5;
}
.highlight-active path.dimmable {
  opacity: 0.2;
}
.highlight-active .tiny path {
  opacity: 0.1;
}
.highlight-active circle.dimmable {
  opacity: 0.5;
}
.highlight-active .highlightable.active {
  opacity: 1;
}
.lined-up-marey .y.axis .tick line {
  stroke: #ccc;
}
.lined-up-marey .mareyline {
  opacity: 0.1;
}
.lined-up-marey .mareyline.highlight {
  opacity: 1 !important;
  stroke-width: 2px;
}
.lined-up-marey .mareyline.dimmed {
  opacity: 0.02 !important;
  stroke: black;
}
.line-dimmed {
  opacity: 0.1 !important;
}
.section-trains {
  margin-bottom: 4em;
}
.section-people .graphic {
  text-align: left;
  padding-left: 20px;
}
.section-people .dayLabel {
  fill: #999;
  font-size: 8pt;
}
.section-people .groupLabel {
  fill: #999;
  font-size: 8pt;
}
.section-people svg {
  margin: 0;
  padding: 0;
}
.section-people .xAxis .tick {
  font-family: sans-serif;
  font-size: 6px;
  fill: #999;
}
.section-people rect {
  stroke: none;
  shape-rendering: crispEdges;
}
.section-people .station {
  text-anchor: middle;
}
.section-people .station.total {
  font-size: 12px;
}
.section-people .station.header {
  font-size: 14px;
  font-weight: bold;
  shape-rendering: crispEdges;
}
.section-people .xAxis path,
.section-people .xAxis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}
.section-people .highlight {
  fill: none;
  stroke: steelBlue;
  stroke-opacity: 1;
  shape-rendering: crispEdges;
}
.section-people line.highlight {
  stroke-width: 1px;
  stroke-dasharray: 2,2;
}
.section-people rect.highlight {
  stroke-width: 2px;
}
.section-people rect:hover {
  fill: steelBlue !important;
}
.interaction-all {
  text-align: center;
}
.interaction-all path {
  stroke-width: 0.2;
  stroke: black;
}
.interaction-all .indicator line {
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.interaction-all .indicator text {
  font-size: 10px;
}
.interaction-all .viz.highlighting .dimmable {
  opacity: 0.1;
}
.interaction-all .viz.highlighting .active {
  opacity: 1;
}
.interaction-all .legend-fast {
  background-color: #006837;
}
.interaction-all .legend-slow {
  background-color: #a50026;
}
.interaction-all .legend-fast,
.interaction-all .legend-slow {
  color: white;
  padding: 0px 3px;
  border-radius: 3px;
}
.interaction-all .left,
.interaction-all .right {
  clear: none;
  display: inline-block;
}
.interaction-all .left {
  max-width: 400px;
}
.interaction-all p {
  text-align: left;
}
.interaction-all svg {
  display: inline-block;
}
.interaction-all .horizon path {
  stroke: none;
}
.interaction-all rect.delay-rect {
  shape-rendering: crispEdges;
  stroke: none;
}
.interaction-all .daylabel {
  font-size: 14px;
  font-weight: bold;
  shape-rendering: crispEdges;
}
.interaction-all .dayofmonthlabel {
  font-size: 12px;
  shape-rendering: crispEdges;
}
